Conversational BI/Conversational BI.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: Conversational BI
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: jaguarliuu/rookie_data_alchemy:0.1.0@0a23c5c4a1e5d27604a4b0dd7b3c5a3d8d62ebcc15bae82c8acb78679386e709
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: junjiem/db_query:0.0.11@2eae0951f13c4e8daa099310d706c9502c349236bca81fcc996f2aea9524c97c
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 5241af47-8f3f-4098-a4b3-8ac48dd74e87
    name: DB_PASSWORD
    selector:
    - env
    - DB_PASSWORD
    value: Hu4w312027,,,
    value_type: secret
  - description: ''
    id: 9648e5cc-a505-4b1f-82b9-8121ae230b0b
    name: DB_USER
    selector:
    - env
    - DB_USER
    value: root
    value_type: secret
  - description: ''
    id: a386257c-8d05-475c-b50c-4f6e4a0d5aeb
    name: DB_NAME
    selector:
    - env
    - DB_NAME
    value: receipts
    value_type: string
  - description: ''
    id: b447cf04-7291-460e-919f-023d81409a6b
    name: DB_HOST
    selector:
    - env
    - DB_HOST
    value: 110.238.69.16
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1775284714640-source-1775398731163-target
      selected: false
      source: '1775284714640'
      sourceHandle: source
      target: '1775398731163'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1775398731163-2-1775398904951-target
      selected: false
      source: '1775398731163'
      sourceHandle: '2'
      target: '1775398904951'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1775398731163-1775398872060-1775398946815-target
      selected: false
      source: '1775398731163'
      sourceHandle: '1775398872060'
      target: '1775398946815'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: tool
      id: 1775398731163-1-1775399020164-target
      selected: false
      source: '1775398731163'
      sourceHandle: '1'
      target: '1775399020164'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1775399020164-source-1775399348204-target
      selected: false
      source: '1775399020164'
      sourceHandle: source
      target: '1775399348204'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1775399348204-source-1775399970833-target
      selected: false
      source: '1775399348204'
      sourceHandle: source
      target: '1775399970833'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1775399970833-source-1775401450351-target
      selected: false
      source: '1775399970833'
      sourceHandle: source
      target: '1775401450351'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1775401450351-true-1775401725807-target
      selected: false
      source: '1775401450351'
      sourceHandle: 'true'
      target: '1775401725807'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1775401450351-bf37c1a3-26df-4fe6-9b7f-a04bc7c11160-1775401758649-target
      selected: false
      source: '1775401450351'
      sourceHandle: bf37c1a3-26df-4fe6-9b7f-a04bc7c11160
      target: '1775401758649'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1775401450351-f18f4bf8-e8ef-46f9-9766-255f80928566-1775401794212-target
      selected: false
      source: '1775401450351'
      sourceHandle: f18f4bf8-e8ef-46f9-9766-255f80928566
      target: '1775401794212'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1775401450351-false-17754019721630-target
      selected: false
      source: '1775401450351'
      sourceHandle: 'false'
      target: '17754019721630'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1777958408808-source-1777958537027-target
      selected: false
      source: '1777958408808'
      sourceHandle: source
      target: '1777958537027'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 17754019721630-source-17781344466430-target
      selected: false
      source: '17754019721630'
      sourceHandle: source
      target: '17781344466430'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 17781344466430-source-1777958408808-target
      selected: false
      source: '17781344466430'
      sourceHandle: source
      target: '1777958408808'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 17754019721630-source-17781355988410-target
      selected: false
      source: '17754019721630'
      sourceHandle: source
      target: '17781355988410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17781355988410-source-1777958537027-target
      selected: false
      source: '17781355988410'
      sourceHandle: source
      target: '1777958537027'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: Start
        type: start
        variables: []
      height: 73
      id: '1775284714640'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: Checking or asking for information about the database
        - id: '2'
          name: Trying to ask for insert/delete/alter  information in the database
        - id: '1775398872060'
          name: Asking questions not related to the database
        instructions: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1775284714640'
        - sys.query
        selected: false
        title: Question Classifier
        type: question-classifier
        vision:
          enabled: false
      height: 220
      id: '1775398731163'
      position:
        x: 444.7257658771948
        y: 232.36695746271027
      positionAbsolute:
        x: 444.7257658771948
        y: 232.36695746271027
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: UNSAFE Request. Please try again with a valid question.
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 116
      id: '1775398904951'
      position:
        x: 916.3159771647272
        y: 237.66133411901302
      positionAbsolute:
        x: 916.3159771647272
        y: 237.66133411901302
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Please ask questions related to the database
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 116
      id: '1775398946815'
      position:
        x: 935.0293797895582
        y: 439.61442834514287
      positionAbsolute:
        x: 935.0293797895582
        y: 439.61442834514287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: mysql
          form: llm
          human_description:
            en_US: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            ja_JP: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            pt_BR: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            zh_Hans: 用于选择数据库类型，mysql、oracle、oracle11g、postgresql或mssql。
          label:
            en_US: Database type
            ja_JP: Database type
            pt_BR: Database type
            zh_Hans: 数据库类型
          llm_description: ''
          max: null
          min: null
          name: db_type
          options:
          - icon: ''
            label:
              en_US: MySQL
              ja_JP: MySQL
              pt_BR: MySQL
              zh_Hans: MySQL
            value: mysql
          - icon: ''
            label:
              en_US: Oracle
              ja_JP: Oracle
              pt_BR: Oracle
              zh_Hans: Oracle
            value: oracle
          - icon: ''
            label:
              en_US: Oracle11g
              ja_JP: Oracle11g
              pt_BR: Oracle11g
              zh_Hans: Oracle11g
            value: oracle11g
          - icon: ''
            label:
              en_US: PostgreSQL
              ja_JP: PostgreSQL
              pt_BR: PostgreSQL
              zh_Hans: PostgreSQL
            value: postgresql
          - icon: ''
            label:
              en_US: Microsoft SQL Server
              ja_JP: Microsoft SQL Server
              pt_BR: Microsoft SQL Server
              zh_Hans: Microsoft SQL Server
            value: mssql
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: localhost
          form: llm
          human_description:
            en_US: Database hostname or IP address (Original string, not URL-encoded
              string).
            ja_JP: Database hostname or IP address (Original string, not URL-encoded
              string).
            pt_BR: Database hostname or IP address (Original string, not URL-encoded
              string).
            zh_Hans: 数据库的主机名或IP地址（原始字符串，非URL编码字符串）。
          label:
            en_US: Database Host
            ja_JP: Database Host
            pt_BR: Database Host
            zh_Hans: 数据库地址
          llm_description: ''
          max: null
          min: null
          name: db_host
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database port.
            ja_JP: Database port.
            pt_BR: Database port.
            zh_Hans: 数据库的端口。
          label:
            en_US: Port
            ja_JP: Port
            pt_BR: Port
            zh_Hans: 端口
          llm_description: ''
          max: null
          min: null
          name: db_port
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database username (Original string, not URL-encoded string).
            ja_JP: Database username (Original string, not URL-encoded string).
            pt_BR: Database username (Original string, not URL-encoded string).
            zh_Hans: 数据库的用户名（原始字符串，非URL编码字符串）。
          label:
            en_US: Username
            ja_JP: Username
            pt_BR: Username
            zh_Hans: 用户名
          llm_description: ''
          max: null
          min: null
          name: db_username
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database password (Original string, not URL-encoded string).
            ja_JP: Database password (Original string, not URL-encoded string).
            pt_BR: Database password (Original string, not URL-encoded string).
            zh_Hans: 数据库的密码（原始字符串，非URL编码字符串）。
          label:
            en_US: Password
            ja_JP: Password
            pt_BR: Password
            zh_Hans: 密码
          llm_description: ''
          max: null
          min: null
          name: db_password
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: secret-input
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database name (Original string, not URL-encoded string).
            ja_JP: Database name (Original string, not URL-encoded string).
            pt_BR: Database name (Original string, not URL-encoded string).
            zh_Hans: 数据库的名称（原始字符串，非URL编码字符串）。
          label:
            en_US: Database name
            ja_JP: Database name
            pt_BR: Database name
            zh_Hans: 库名
          llm_description: ''
          max: null
          min: null
          name: db_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            ja_JP: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            pt_BR: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            zh_Hans: 数据库属性，例如：alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt
          label:
            en_US: Database properties
            ja_JP: Database properties
            pt_BR: Database properties
            zh_Hans: 数据库属性
          llm_description: ''
          max: null
          min: null
          name: db_properties
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'SQL query statement, for example: select * from tbl_name'
            ja_JP: 'SQL query statement, for example: select * from tbl_name'
            pt_BR: 'SQL query statement, for example: select * from tbl_name'
            zh_Hans: SQL查询语句，例如：select * from tbl_name
          label:
            en_US: Query SQL
            ja_JP: Query SQL
            pt_BR: Query SQL
            zh_Hans: SQL查询语句
          llm_description: 'SQL query statement, for example: select * from tbl_name'
          max: null
          min: null
          name: query_sql
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: markdown
          form: form
          human_description:
            en_US: Used for selecting the output format, markdown or json.
            ja_JP: Used for selecting the output format, markdown or json.
            pt_BR: Used for selecting the output format, markdown or json.
            zh_Hans: 用于选择输出格式，markdown或json。
          label:
            en_US: Output format
            ja_JP: Output format
            pt_BR: Output format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: output_format
          options:
          - icon: ''
            label:
              en_US: MARKDOWN
              ja_JP: MARKDOWN
              pt_BR: MARKDOWN
              zh_Hans: MARKDOWN
            value: markdown
          - icon: ''
            label:
              en_US: JSON
              ja_JP: JSON
              pt_BR: JSON
              zh_Hans: JSON
            value: json
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          db_host: ''
          db_name: ''
          db_password: ''
          db_port: ''
          db_properties: ''
          db_type: ''
          db_username: ''
          output_format: ''
          query_sql: ''
        plugin_id: junjiem/db_query
        plugin_unique_identifier: junjiem/db_query:0.0.11@2eae0951f13c4e8daa099310d706c9502c349236bca81fcc996f2aea9524c97c
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=1c5ba89d-836e-45d2-a516-44004a9c9178&filename=ce2ce5af47e39e9476fc06eea7fbd05446ad16043d4d16c671e69a3c650a976a.svg
        provider_id: junjiem/db_query/db_query
        provider_name: junjiem/db_query/db_query
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        title: Schema Fetcher
        tool_configurations:
          output_format:
            type: constant
            value: markdown
        tool_description: A tool for Database SQL query.
        tool_label: SQL Query
        tool_name: sql_query
        tool_node_version: '2'
        tool_parameters:
          db_host:
            type: mixed
            value: '{{#env.DB_HOST#}}'
          db_name:
            type: mixed
            value: '{{#env.DB_NAME#}}'
          db_password:
            type: mixed
            value: '{{#env.DB_PASSWORD#}}'
          db_port:
            type: constant
            value: 5432
          db_properties:
            type: mixed
            value: null
          db_type:
            type: constant
            value: postgresql
          db_username:
            type: mixed
            value: '{{#env.DB_USER#}}'
          query_sql:
            type: mixed
            value: 'SELECT table_name, string_agg(column_name || '' '' || data_type,
              '', '') AS columns

              FROM information_schema.columns

              WHERE table_schema = ''public''

              GROUP BY table_name

              ORDER BY table_name;'
        type: tool
      height: 88
      id: '1775399020164'
      position:
        x: 916.3159771647272
        y: 63.79121652961075
      positionAbsolute:
        x: 916.3159771647272
        y: 63.79121652961075
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775399020164'
          - text
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: deepseek-coder
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: b13a0d4f-02ec-4180-8a82-8a07e0905ae7
          role: system
          text: 'You are an expert SQL assistant.


            You will be given:

            1. The database schema information.

            2. A user question.


            You must generate a valid PostgreSQL SQL query that answers the question.
            Return only the SQL query, without explanation or markdown formatting.


            Database schema:

            {{#context#}}


            User question:

            {{#sys.query#}}


            Rules:

            - Only use tables and columns that exist in the given schema. Use proper
            PostgreSQL syntax.

            - Return **only SELECT queries**. Do NOT modify or delete data.

            - Never use INSERT, UPDATE, DELETE, DROP, or ALTER.

            - Output only the SQL code, without any explanations or markdown.

            '
        selected: false
        title: SQL Generator
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1775399348204'
      position:
        x: 1218.3159771647272
        y: 63.79121652961075
      positionAbsolute:
        x: 1218.3159771647272
        y: 63.79121652961075
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775399348204'
          - text
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: deepseek-coder
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: b4ce6b7a-d2d0-4d40-a473-9e6b59e7e785
          role: system
          text: 'SQL Validator System Prompt (English Version)


            Role:

            You are a SQL validation assistant.

            Your goal is to analyze a generated SQL query based on the user request
            and the given database schema. You must determine whether the SQL is valid,
            semantically aligned, and correctly reflects the user''s intent. Return
            a structured JSON object following the exact format described below.'
        - id: 395e7d5f-11a2-44db-9160-26e1082b3fbc
          role: user
          text: "Input:\nUser query:\n{{#sys.query#}}\n\nSchema:\n{{#1775399020164.text#}}\n\
            \nSQL query:\n{{#1775399348204.text#}}\n\n\U0001F4C4 Expected JSON Output\
            \ Format You must output only one JSON object, nothing else. Do not include\
            \ explanations, markdown, or additional text.\n{\n   \"status\": \"passed\"\
            \ or \"failed\",\n   \"type\": \"SQL_INVALID\" or \"ENTITY_ALIGNMENT\"\
            \ or \"USER_INTENT_RELEVANCE\" or null,\n   \"message\": \"Detailed reason\
            \ for failure, or empty string if passed.\"\n}\n\n⚙️ Validation Rules\
            \ (Priority Order)\n\n1. SQL_INVALID\nThe SQL contains syntax errors,\
            \ or it references a table or column that does not exist in the provided\
            \ schema.\n✅ Highest priority.\nOutput Example:\n{\n  \"status\": \"failed\"\
            ,\n  \"type\": \"SQL_INVALID\",\n  \"message\": \"Validation failed: column\
            \ 'age' not found in table 'employees'.\"\n}\n\n2. ENTITY_ALIGNMENT\n\
            The user's request mentions an entity (table or field) that does not exist\
            \ in the schema, or the SQL query references a different entity from what\
            \ the user asked for.\nOutput Example:\n{\n  \"status\": \"failed\",\n\
            \  \"type\": \"ENTITY_ALIGNMENT\",\n  \"message\": \"Validation failed:\
            \ entity 'company' not found in schema, SQL used 'user'.\"\n}\n\n3. USER_INTENT_RELEVANCE\n\
            The SQL structure is valid, and entities exist, but the query logic or\
            \ meaning does not match the user request. Example: user asked for \"\
            total sales\" but SQL computes \"average sales.\"\nOutput Example:\n{\n\
            \  \"status\": \"failed\",\n  \"type\": \"USER_INTENT_RELEVANCE\",\n \
            \ \"message\": \"Validation failed: SQL logic differs from user request\
            \ (total vs average).\"\n}\n\n4. VALID SQL (No Issue)\nThe SQL is syntactically\
            \ correct; All entities exist and match the schema; The query accurately\
            \ reflects the user's intent.\nOutput Example:\n{\n  \"status\": \"passed\"\
            ,\n  \"type\": null,\n  \"message\": \"\"\n}\n\n\U0001F9E9 Input Context\
            \ (provided to you) You will receive:\nUser Request: the natural language\
            \ query.\nDatabase Schema: a list of available tables and their columns.\n\
            Generated SQL: the SQL query produced by another model.\n\n\U0001F6AB\
            \ Output Restrictions\nOutput only JSON in the exact structure above.\n\
            Do not include any natural language, markdown, or commentary outside the\
            \ JSON object."
        selected: false
        title: SQL Validator
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1775399970833'
      position:
        x: 1520.3159771647272
        y: 63.79121652961075
      positionAbsolute:
        x: 1520.3159771647272
        y: 63.79121652961075
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: d88fafa3-ea38-4e89-a45f-6473bc3963c9
            value: SQL_INVALID
            varType: string
            variable_selector:
            - '1775399348204'
            - text
          id: 'true'
          logical_operator: and
        - case_id: bf37c1a3-26df-4fe6-9b7f-a04bc7c11160
          conditions:
          - comparison_operator: contains
            id: 099b98eb-afc2-461b-a55c-855f9f9066e1
            value: ENTITY_ALIGNMENT
            varType: string
            variable_selector:
            - '1775399970833'
            - text
          id: bf37c1a3-26df-4fe6-9b7f-a04bc7c11160
          logical_operator: and
        - case_id: f18f4bf8-e8ef-46f9-9766-255f80928566
          conditions:
          - comparison_operator: contains
            id: 966db944-b610-441e-ac00-a46d4391445d
            value: USER_INTENT_RELEVANCE
            varType: string
            variable_selector:
            - '1775399970833'
            - text
          id: f18f4bf8-e8ef-46f9-9766-255f80928566
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 292
      id: '1775401450351'
      position:
        x: 1822.3159771647272
        y: 63.79121652961075
      positionAbsolute:
        x: 1822.3159771647272
        y: 63.79121652961075
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Sorry, I couldn''t understand your request properly.

          {{#1775399970833.text#}}'
        selected: false
        title: Answer 3
        type: answer
        variables: []
      height: 118
      id: '1775401725807'
      position:
        x: 2124.315977164727
        y: 63.79121652961075
      positionAbsolute:
        x: 2124.315977164727
        y: 63.79121652961075
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'I couldn''t find the data you asked for in the database.

          {{#1775399970833.text#}}'
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 134
      id: '1775401758649'
      position:
        x: 2124.315977164727
        y: 217.79121652961075
      positionAbsolute:
        x: 2124.315977164727
        y: 217.79121652961075
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Your question seems to general, could you specify what would like
          to check?

          {{#1775399970833.text#}}'
        selected: false
        title: Answer 5
        type: answer
        variables: []
      height: 134
      id: '1775401794212'
      position:
        x: 2124.315977164727
        y: 371.7912165296108
      positionAbsolute:
        x: 2124.315977164727
        y: 371.7912165296108
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        isInIteration: false
        isInLoop: false
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: mysql
          form: llm
          human_description:
            en_US: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            ja_JP: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            pt_BR: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            zh_Hans: 用于选择数据库类型，mysql、oracle、oracle11g、postgresql或mssql。
          label:
            en_US: Database type
            ja_JP: Database type
            pt_BR: Database type
            zh_Hans: 数据库类型
          llm_description: ''
          max: null
          min: null
          name: db_type
          options:
          - icon: ''
            label:
              en_US: MySQL
              ja_JP: MySQL
              pt_BR: MySQL
              zh_Hans: MySQL
            value: mysql
          - icon: ''
            label:
              en_US: Oracle
              ja_JP: Oracle
              pt_BR: Oracle
              zh_Hans: Oracle
            value: oracle
          - icon: ''
            label:
              en_US: Oracle11g
              ja_JP: Oracle11g
              pt_BR: Oracle11g
              zh_Hans: Oracle11g
            value: oracle11g
          - icon: ''
            label:
              en_US: PostgreSQL
              ja_JP: PostgreSQL
              pt_BR: PostgreSQL
              zh_Hans: PostgreSQL
            value: postgresql
          - icon: ''
            label:
              en_US: Microsoft SQL Server
              ja_JP: Microsoft SQL Server
              pt_BR: Microsoft SQL Server
              zh_Hans: Microsoft SQL Server
            value: mssql
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: localhost
          form: llm
          human_description:
            en_US: Database hostname or IP address (Original string, not URL-encoded
              string).
            ja_JP: Database hostname or IP address (Original string, not URL-encoded
              string).
            pt_BR: Database hostname or IP address (Original string, not URL-encoded
              string).
            zh_Hans: 数据库的主机名或IP地址（原始字符串，非URL编码字符串）。
          label:
            en_US: Database Host
            ja_JP: Database Host
            pt_BR: Database Host
            zh_Hans: 数据库地址
          llm_description: ''
          max: null
          min: null
          name: db_host
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database port.
            ja_JP: Database port.
            pt_BR: Database port.
            zh_Hans: 数据库的端口。
          label:
            en_US: Port
            ja_JP: Port
            pt_BR: Port
            zh_Hans: 端口
          llm_description: ''
          max: null
          min: null
          name: db_port
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database username (Original string, not URL-encoded string).
            ja_JP: Database username (Original string, not URL-encoded string).
            pt_BR: Database username (Original string, not URL-encoded string).
            zh_Hans: 数据库的用户名（原始字符串，非URL编码字符串）。
          label:
            en_US: Username
            ja_JP: Username
            pt_BR: Username
            zh_Hans: 用户名
          llm_description: ''
          max: null
          min: null
          name: db_username
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database password (Original string, not URL-encoded string).
            ja_JP: Database password (Original string, not URL-encoded string).
            pt_BR: Database password (Original string, not URL-encoded string).
            zh_Hans: 数据库的密码（原始字符串，非URL编码字符串）。
          label:
            en_US: Password
            ja_JP: Password
            pt_BR: Password
            zh_Hans: 密码
          llm_description: ''
          max: null
          min: null
          name: db_password
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: secret-input
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database name (Original string, not URL-encoded string).
            ja_JP: Database name (Original string, not URL-encoded string).
            pt_BR: Database name (Original string, not URL-encoded string).
            zh_Hans: 数据库的名称（原始字符串，非URL编码字符串）。
          label:
            en_US: Database name
            ja_JP: Database name
            pt_BR: Database name
            zh_Hans: 库名
          llm_description: ''
          max: null
          min: null
          name: db_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            ja_JP: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            pt_BR: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            zh_Hans: 数据库属性，例如：alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt
          label:
            en_US: Database properties
            ja_JP: Database properties
            pt_BR: Database properties
            zh_Hans: 数据库属性
          llm_description: ''
          max: null
          min: null
          name: db_properties
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'SQL query statement, for example: select * from tbl_name'
            ja_JP: 'SQL query statement, for example: select * from tbl_name'
            pt_BR: 'SQL query statement, for example: select * from tbl_name'
            zh_Hans: SQL查询语句，例如：select * from tbl_name
          label:
            en_US: Query SQL
            ja_JP: Query SQL
            pt_BR: Query SQL
            zh_Hans: SQL查询语句
          llm_description: 'SQL query statement, for example: select * from tbl_name'
          max: null
          min: null
          name: query_sql
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: markdown
          form: form
          human_description:
            en_US: Used for selecting the output format, markdown or json.
            ja_JP: Used for selecting the output format, markdown or json.
            pt_BR: Used for selecting the output format, markdown or json.
            zh_Hans: 用于选择输出格式，markdown或json。
          label:
            en_US: Output format
            ja_JP: Output format
            pt_BR: Output format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: output_format
          options:
          - icon: ''
            label:
              en_US: MARKDOWN
              ja_JP: MARKDOWN
              pt_BR: MARKDOWN
              zh_Hans: MARKDOWN
            value: markdown
          - icon: ''
            label:
              en_US: JSON
              ja_JP: JSON
              pt_BR: JSON
              zh_Hans: JSON
            value: json
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          db_host: ''
          db_name: ''
          db_password: ''
          db_port: ''
          db_properties: ''
          db_type: ''
          db_username: ''
          output_format: ''
          query_sql: ''
        plugin_id: junjiem/db_query
        plugin_unique_identifier: junjiem/db_query:0.0.11@2eae0951f13c4e8daa099310d706c9502c349236bca81fcc996f2aea9524c97c
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=1c5ba89d-836e-45d2-a516-44004a9c9178&filename=ce2ce5af47e39e9476fc06eea7fbd05446ad16043d4d16c671e69a3c650a976a.svg
        provider_id: junjiem/db_query/db_query
        provider_name: junjiem/db_query/db_query
        provider_type: builtin
        selected: false
        title: SQL Executor
        tool_configurations:
          output_format:
            type: constant
            value: markdown
        tool_description: A tool for Database SQL query.
        tool_label: SQL Query
        tool_name: sql_query
        tool_node_version: '2'
        tool_parameters:
          db_host:
            type: mixed
            value: '{{#env.DB_HOST#}}'
          db_name:
            type: mixed
            value: '{{#env.DB_NAME#}}'
          db_password:
            type: mixed
            value: '{{#env.DB_PASSWORD#}}'
          db_port:
            type: constant
            value: null
          db_properties:
            type: mixed
            value: null
          db_type:
            type: constant
            value: postgresql
          db_username:
            type: mixed
            value: '{{#env.DB_USER#}}'
          query_sql:
            type: mixed
            value: '{{#1775399348204.text#}}'
        type: tool
      height: 88
      id: '17754019721630'
      position:
        x: 2124.315977164727
        y: 583.2417233850915
      positionAbsolute:
        x: 2124.315977164727
        y: 583.2417233850915
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data to be processed, recommended in JSON format. Can be an array
              of objects, each representing a data point with properties, or a single
              object with nested data. The tool will automatically analyze the structure
              and extract relevant information for visualization.
            ja_JP: Data to be processed, recommended in JSON format. Can be an array
              of objects, each representing a data point with properties, or a single
              object with nested data. The tool will automatically analyze the structure
              and extract relevant information for visualization.
            pt_BR: Data to be processed, recommended in JSON format. Can be an array
              of objects, each representing a data point with properties, or a single
              object with nested data. The tool will automatically analyze the structure
              and extract relevant information for visualization.
            zh_Hans: 待处理的数据，建议为JSON格式。可以是对象数组（每个对象代表一个数据点及其属性），或包含嵌套数据的单个对象。工具会自动分析数据结构并提取相关信息用于可视化。
          label:
            en_US: data
            ja_JP: data
            pt_BR: data
            zh_Hans: 待处理的数据，建议为json格式
          llm_description: Data to be processed, recommended in JSON format. Can be
            an array of objects or a single object with nested data.
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Chart title to be displayed at the top of the visualization. If
              not provided, the AI will generate an appropriate title based on the
              data content and chart type.
            ja_JP: Chart title to be displayed at the top of the visualization. If
              not provided, the AI will generate an appropriate title based on the
              data content and chart type.
            pt_BR: Chart title to be displayed at the top of the visualization. If
              not provided, the AI will generate an appropriate title based on the
              data content and chart type.
            zh_Hans: 图表标题，显示在可视化顶部。如果不提供，AI将根据数据内容和图表类型自动生成合适的标题。
          label:
            en_US: title
            ja_JP: title
            pt_BR: title
            zh_Hans: 图表标题，不填则大模型推理生成
          llm_description: Chart title to be displayed. If not provided, will be auto-generated
            based on data content.
          max: null
          min: null
          name: title
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: chart type (bar, line, pie, scatter, radar, funnel, heatmap, boxplot)
            ja_JP: chart type (bar, line, pie, scatter, radar, funnel, heatmap, boxplot)
            pt_BR: chart type (bar, line, pie, scatter, radar, funnel, heatmap, boxplot)
            zh_Hans: 图表类型（柱状图bar、折线图line、饼图pie、散点图scatter、雷达图radar、漏斗图funnel、热力图heatmap、箱线图boxplot）
          label:
            en_US: chart type
            ja_JP: chart type
            pt_BR: chart type
            zh_Hans: 图表类型
          llm_description: chart type (bar, line, pie, scatter, radar, funnel, heatmap,
            boxplot)
          max: null
          min: null
          name: chart_type
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Color scheme for the chart. You can either: 1) Choose a predefined
              scheme (default, vintage, dark, macarons, infographic, shine, roma)
              or 2) Provide custom colors as comma separated hex values (e.g. #5470c6,#91cc75,#fac858)'
            ja_JP: 'Color scheme for the chart. You can either: 1) Choose a predefined
              scheme (default, vintage, dark, macarons, infographic, shine, roma)
              or 2) Provide custom colors as comma separated hex values (e.g. #5470c6,#91cc75,#fac858)'
            pt_BR: 'Color scheme for the chart. You can either: 1) Choose a predefined
              scheme (default, vintage, dark, macarons, infographic, shine, roma)
              or 2) Provide custom colors as comma separated hex values (e.g. #5470c6,#91cc75,#fac858)'
            zh_Hans: 图表配色方案。您可以：1) 选择预定义方案（默认default、复古vintage、暗色dark、马卡龙macarons、信息图infographic、明亮shine、罗马roma）或
              2) 提供自定义颜色，使用逗号分隔的十六进制颜色值（例如：#5470c6,#91cc75,#fac858）
          label:
            en_US: color scheme
            ja_JP: color scheme
            pt_BR: color scheme
            zh_Hans: 配色方案
          llm_description: 'Color scheme for the chart. Either choose a predefined
            scheme (default, vintage, dark, macarons, infographic, shine, roma) or
            provide custom colors as comma separated hex values (e.g. #5470c6,#91cc75,#fac858)'
          max: null
          min: null
          name: color_scheme
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          chart_type: ''
          color_scheme: ''
          data: ''
          title: ''
        plugin_id: jaguarliuu/rookie_data_alchemy
        plugin_unique_identifier: jaguarliuu/rookie_data_alchemy:0.1.0@0a23c5c4a1e5d27604a4b0dd7b3c5a3d8d62ebcc15bae82c8acb78679386e709
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=ff9cbc0e-53c2-4300-925b-9b6e21324482&filename=d830f58347dd170e7e3b92c34f100ac470279f3bfed267a3f3e13f9413acd257.svg
        provider_id: jaguarliuu/rookie_data_alchemy/rookie_data_alchemy
        provider_name: jaguarliuu/rookie_data_alchemy/rookie_data_alchemy
        provider_type: builtin
        selected: false
        title: Smart Chart Generator
        tool_configurations: {}
        tool_description: Automatically analyzes data features and generates appropriate
          chart configurations
        tool_label: Smart Chart Generator
        tool_name: chart_auto_generator
        tool_node_version: '2'
        tool_parameters:
          chart_type:
            type: mixed
            value: bar
          color_scheme:
            type: mixed
            value: ''
          data:
            type: mixed
            value: '{{#17781344466430.text#}}'
          title:
            type: mixed
            value: Conversational BI Chart
        type: tool
      height: 52
      id: '1777958408808'
      position:
        x: 2803.372506206938
        y: 523.6382992361587
      positionAbsolute:
        x: 2803.372506206938
        y: 523.6382992361587
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1777958408808.text#}}

          {{#17781355988410.text#}}'
        selected: false
        title: Answer 6
        type: answer
        variables: []
      height: 120
      id: '1777958537027'
      position:
        x: 3100.4218479909423
        y: 695.9300477040035
      positionAbsolute:
        x: 3100.4218479909423
        y: 695.9300477040035
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17754019721630'
          - text
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: deepseek-coder
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: f3710559-dce0-4f36-bde0-0c89f30bcfdd
          role: system
          text: "You are a data assistant that summarizes SQL query results in clear,\
            \ fluent Spanish.\n\nInstructions:\n\"Sorry, this request involves modifying\
            \ data, which is not allowed in this environment.\"\nOtherwise, explain\
            \ the SQL result in plain English.\nDo NOT output any SQL code.\nIf the\
            \ query result is empty, say: \"No records match your query.\"\nIf multiple\
            \ rows exist, summarize or highlight key points.\nBe concise but informative.\n\
            \nYour reply will be used to build a Conversational BI dashboard, output\
            \ your answer in the following json format:\n\n{\n  \"data\": [\n    {\"\
            category\": \"A\", \"value\": 25},\n    {\"category\": \"B\", \"value\"\
            : 40},\n    {\"category\": \"C\", \"value\": 15}\n  ],\n  \"chart_type\"\
            : \"bar\",\n  \"title\": \"Sample Bar Chart\",\n  \"color_scheme\": \"\
            vintage\"\n}\n\nUser query:\n{{#sys.query#}}\n\nSQL query result:\n{{#context#}}"
        selected: false
        title: BI Builder
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17781344466430'
      position:
        x: 2492.779894665848
        y: 388.0658631533706
      positionAbsolute:
        x: 2492.779894665848
        y: 388.0658631533706
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17754019721630'
          - text
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: f3710559-dce0-4f36-bde0-0c89f30bcfdd
          role: system
          text: 'You are a data assistant that summarizes SQL query results in clear,
            fluent Spanish.


            Instructions:

            "Sorry, this request involves modifying data, which is not allowed in
            this environment."

            Otherwise, explain the SQL result in plain English.

            Do NOT output any SQL code.

            If the query result is empty, say: "No records match your query."

            If multiple rows exist, summarize or highlight key points.

            Be concise but informative.


            User query:

            {{#sys.query#}}


            SQL query result:

            {{#context#}}'
        selected: false
        title: NL Result Summarizer
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17781355988410'
      position:
        x: 2546.1595304661732
        y: 695.9300477040035
      positionAbsolute:
        x: 2546.1595304661732
        y: 695.9300477040035
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -404.66917836850325
      y: 114.2742728258338
      zoom: 0.7868169081765132
  rag_pipeline_variables: []
